
{% extends 'main.html' %}
{% load static %}

    {% block content %}
    <br><br>
    <section class="section" id="men">
        <div class="container">
            <div style="display:flex; flex-wrap:nowrap; justify-content:space-between;" class="row">
                <div class="col-lg-6">
                    <div data-aos-duration="1000" data-aos="fade-up" class="section-heading">
                        <h3>Architecture Tools</h3>
                        <span>Order drawing, measuring and sketching tools for Architects</span>
                    </div>
                    

                </div>
                <a href="{% url 'cart' %}">
                    <div style="padding: 0px 20px 0px 70px; display:flex; align-items:center; height: 25px; gap: 5px;">
                        <p>cart</p>
                        <i class="fas fa-cart-shopping"></i>
                        {% if cartItems %}
                        <p style='  '>{{cartItems}}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div style="text-align:center;">
                <h5 style="padding-bottom: 7px; font-weight: 500;">Single Tools</h5>
                <p style="color: rgba(0,0,0,0.25); "><i class="fas fa-arrow-left"> </i> Swipe left and right <i class="fas fa-arrow-right"></i></p>
                <br>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for product in products %}
                            <div data-aos-duration="1000" data-aos="fade-up" class="item">
                                <div  class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="{% url 'singleProduct' product.id %}"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="{% url 'singleProduct' product.id %}"><i class="fa fa-star"></i></a></li>
                                            <li><a href="{% url 'singleProduct' product.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src={{product.image}} alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{product.name}}</h4>
                                    <span>GHS {{product.price}}</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <hr>
        <div style="text-align:center;">
            <h5 style="padding-bottom: 7px; font-weight: 500;">Packages</h5>
            <p style="color: rgba(0,0,0,0.25); "><i class="fas fa-arrow-up"> </i> Scroll up and down <i class="fas fa-arrow-down"></i></p>
            <br>
        </div>
        <div style="background: #e0e0e0; padding: 20px 25px; " >
            {% for package in packages %}
            <div data-aos-duration="1000" data-aos="fade-up" style="padding: 20px; border-radius: 10px; box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff; background: #e0e0e0; display:flex;">
                <div>
                    <img style="height: 90px; width: 90px; border-radius: 5px; object-fit:cover; object-position:center" src={% static 'assets/images/Archtools_clear.jpg' %}>
                </div>
                <div style="width: 100%; text-align:center; ">
                    <h5 style="font-weight: bold;">{{package.name}}</h5>
                    <p style="color: rgba(0,0,0,0.6); ">All in one instruments</p>
                    <p style="color: rgba(0,0,0,0.6); padding-bottom: 5px; "><em style="font-weight: bold; font-style:normal;">GHS</em> {{package.price}}</p>
                    <div  class="main-border-button"><a href="{% url 'singleProduct' package.id %}" style="border:none; color: black; border-radius: 10px; box-shadow: 10px 10px 20px #bebebe, -3px -3px 10px #ffffff;">View Details</a></div>
                </div>
            </div>
            <br><br>
            {% endfor %}
        </div>
    </section>

    {% endblock %}
    


