{% extends 'main.html' %}
{% load static %}
    {% block content %}
    <br><br>
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Engineering tools and equipments</h2>
                        <span>Order quality tools and instruments for Engineering Students</span>
                    </div>
                    <div style="height: 50vh; display:flex; justify-content:center; align-items:center;">
                        <p>Engineering tools will be in soon.....</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}