{% extends 'main.html' %}
{% load static %}
    {% block content %}
    <br><br>
    <section class="sectin" id="men">
        <div class="container">
            <div class="row">
                <div style="width: 100vw;" class="col-lg-6">
                    <div data-aos-duration="1000" data-aos="fade-up" class="section-heading">
                        <h2 style="text-align:center;">About US</h2>
                    </div>
                    <div style="width: 100%; padding: 0px 30px; color: grey; text-align:center;" data-aos-duration="1000" data-aos="fade-up">
                        The architecture guide by Arc Boakye Godbless as well as other guides and blogs, have listed their top 50 most essential architect supplies. We, as once architecture students ourselves know how extremely expensive an architecture course can be and that 50 or even 30 essentials are too much for almost certainly very student. An architecture student equipment list has to be affordable, of high quality but nevertheless needs to be available at an affordable price. Therefore we have analysed all these top lists, and in combination with our own experiences of what we saw as absolute essentials and what not during our architecture degrees, we have created the Archtool, which is made up of 20 items that will set you of to a fantastic start! All the essentials for your new career path and all this at a reasonable price, which every student can afford.
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}