{% extends 'main.html' %}
{% load static %}
    {% block content %}
    <br><br>
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div data-aos-duration="1000" data-aos="fade-up" class="section-heading">
                        <h2>Health Science Apparatuses</h2>
                        <span>Order materials and apparatuses for medicine, pharmacy and nursing students</span>
                    </div>
                    <div style="height: 50vh; display:flex; justify-content:center; align-items:center;">
                        <p>Health materials will be in soon.....</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}